.cat-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    align-items: center;
    justify-items: start;
    background: radial-gradient(circle, rgba(113, 248, 2, 0.548) 13%, rgb(146, 146, 238) 49%, rgb(87, 228, 181) 79%, rgba(193, 100, 240, 0.699) 100%);
    border-radius: 8px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    box-sizing: border-box;
}
.cat-info__title {
    display: flex;
    align-items: center;
    gap: 6px;
}
.cat-info__image {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    grid-row: 1 / 5;
}
.cat-info__desc {
    grid-column: 1 / -1;
    font-size: 18px;
    padding: 5px;
}
.cat-info__id {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    gap: 5px;
    background-color: #405DE6;
    padding: 5px 10px;
    border-radius: 10px;
    color: #f8f7f7;
}
.cat-info__id:before {
    content: "id";
    font-size: 20px;
    font-weight: bold;
}
.cat-info__favourite {
    border: none;
    border-color: transparent;
    color: #7B8E98;
    cursor: pointer;
}
.cat-info__favourite_active {
    color: #CE2724;
}
.cat-info__name {
    margin: 0;
    padding: 5px;
}
.cat-info__rate {
    white-space: nowrap;
}
.cat-info__rate:before {
    content: "Рейтинг:";
    font-weight: bold;
    margin-right: 5px;
    font-size: 16px;
}
.cat-info__edited, .cat-info__saved, .cat-info__deleted {
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    gap:5px;
    border: 1px solid #CFD8DC;
    align-self: flex-start;
    cursor: pointer;
    position: absolute;
    right: 20px;
    background-color: #f8f7f7;
}
.cat-info__edited, .cat-info__saved {
    top: 15px;
}
.cat-info__deleted {
    top: 50px;
}
.cat-info__edited_hidden {
    display: none;
}
.cat-info__saved_hidden {
    display: none;
}
.cat-info [contentEditable="true"] {
    box-shadow: 0 0 1px 1px #405DE6;
    outline: none;
}
.cat-info [contentEditable="true"]:focus {
    box-shadow: 0 0 1px 1px #FFCC00;
    outline: none;
}
.cat-info__age-val {
    padding: 5px;
}
